body {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    margin: 4% 7%;
}


/* RIGHT side container */

.right-side-container {
    padding: 4% 6%;
}

/* About me section */
.about-me-section {
    margin: 0 0 2.5% 0;
}

/* About me name */
.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 180%;
    line-height: 100%;
    color: #200a0a;
}

/* About me profession */
.about-me-profession {
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 150%;
    color: #312f2f;
    margin-bottom: 3%;
}

/* About me objective */
.about-me-objective-header {
    font-style: normal;
    font-weight: bold;
    font-size: 140%;
    line-height: 150%;
    margin-bottom: 0.5%;
    color: #200a0a;
}

.about-me-objective-content {
    font-style: normal;
    font-weight: normal;
    font-size: 90%;
    line-height: 150%;
    color: #312f2f;
    margin-top: 0;
}

/* My Projects */
.my-projects-container {
    margin-bottom: 2.5%;
}

.my-projects-header{
    font-style: normal;
    font-weight: bold;
    font-size: 140%;
    line-height: 150%;
    margin-bottom: 0.5%;
    color: #200a0a;
}

/* Skills & Language*/

.skills-container,
.language-container {
    margin-bottom: 2.5%;
}

.tech-skills-header,
.language-header {
    font-style: normal;
    font-weight: bold;
    font-size: 140%;
    line-height: 150%;
    margin-bottom: 0.5%;
    color: #200a0a;
}

.tech-skills-list,
.language-list {
    margin-top: 0;
    padding-left: 3.1%;
    font-style: normal;
    font-weight: bold;
    font-size: 90%;
    line-height: 150%;
    color: #000000;
}

.tech-skills-item,
.language-item {
    font-style: normal;
    font-weight: normal;
    font-size: 105%;
    line-height: 150%;
    color: #201d1d;
}

/* Education */
.education-container {
    margin-bottom: 2.5%;
}

.education-header {
    font-style: normal;
    font-weight: bold;
    font-size: 140%;
    line-height: 150%;
    margin-bottom: 0.5%;
    color: #200a0a;
}

.education-university {
    margin-top: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 110%;
    line-height: 150%;
    margin-bottom: 0.5%;
    color: #200a0a;
}

.education-degree {
    margin-top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 110%;
    line-height: 150%;
    margin-bottom: 0.5%;
    color: #201d1d;
}

.education-speciality {
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 150%;
    color: #312f2f;
    margin: 0 0 0.5% 0;     
}

.education-date {
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 150%;
    color: #312f2f;
    margin-top: 0;  
    margin-bottom: 0;
}

.course-header {
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 150%;
    margin-bottom: 0.5%;
    color: #200a0a;
}

.course-name {
    margin-bottom: 0;
}

/* LEFT Side */
.left-side-container {
    width: 45%;
    background-color: #ceffbc;
}

.left-side-image {
    display: block;
    width: 55%;
    margin: 1.5% auto;
    border-radius: 50%;
}

.contacts-container {
    margin: 3% 0 0 10%;
}

.contacts-header {
    font-style: normal;
    font-weight: bold;
    font-size: 160%;
    line-height: 150%;
    margin-bottom: 1%;
    color: #200a0a;
}

.contacts-phone-container {
    margin-top: 0 0 0 0.5%;
}

.contacts-phone-link,
.contacts-mail-link,
.contacts-git-link {
    margin-left: 0.5%;
    font-style: normal;
    font-weight: normal;
    font-size: 110%;
    line-height: 150%;
    margin-bottom: 1%;
    color: #312f2f;
}